@model IEnumerable<MVCWypozyczalnia.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Historia wszystkich wypożyczeń</h2>

<table class="table">
    <tr>
        <th colspan="2" style="text-align:center">Osoba wynajmująca</th>
        <th colspan="2" style="text-align:center">Samochód</th>
        <th colspan="3" style="text-align:center">Wynajem</th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            Data wynajmu
        </th>
        <th>
            Data zwrotu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @String.Format("{0:dd.MM.yyyy}",item.Data_wynajmu)
        </td>
        <td>
            @String.Format("{0:dd.MM.yyyy}", item.Data_zwrotu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
    </tr>
}

</table>
