@model IEnumerable<MVCWypozyczalnia.Models.Customer>

@{
    ViewBag.Title = "Klienci";
}

<h2>Klienci</h2>

<p>
    @Html.ActionLink("Dodaj nowego", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            E-mail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(t=> t.Usuniety == false)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Nr_karty_kredytowej)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuniety)
        </td>*@
        <td>
            @Html.ActionLink("Wypożycz auto", "Rental", new { id = item.ID}) |
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
